@import 'tailwindcss';
@tailwind utilities;
@import 'flowbite';
@php use Carbon\Carbon; @endphp


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

 input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hilangkan spinner di Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .table-sewa tbody tr{
    margin-bottom: 1px solid black ;
    padding: 13px;
    margin-bottom: 23px;
  }

  .table-sewa {
    padding: 70px;
  }
  form.form-detail input, form.form-detail select,  form.form-detail textarea {
    border: none;
    outline: none;
    background-color: #FEF2E0;
    padding: 10px;
    border-radius: 0.375rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }

  form.form-detail input:focus, form.form-detail select:focus, form.form-detail textarea:focus {
    box-shadow: 0 0 0 2px rgba(251, 215, 162, 0.5);
    background-color: #FEF6ED;
  }


